@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a1a3e;
}

/* Mobile Table */

.mobile-table-wrapper {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  color: white;
  margin: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 85vw;
  scroll-snap-align: center;
}

.column-header {
  height: 70px;
  line-height: 70px;
  text-align: left;
  background-color: #3a4765;
  padding-left: 10px;
  font-weight: 600;
}

.feature-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 400px;
}

.feature-detail {
  flex-shrink: 0;
  height: 50px;
  border-bottom: 2px solid #4f586b;
  display: flex;
  gap: 15px;
  padding: 0 10px;
  align-items: center;
  font-size: 12px;
}

.sub-btn-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-btn {
  height: 80%;
  width: 100%;
  background-color: #cf082d;
}

.annual {
  background-color: #cf082d;
}

/* Desktop Table */

.no-plan {
  color: white;
  font-size: 30px;
}

.wrapper {
  width: 1105px;
  height: 515px;
  color: white;
  margin: 20px;
  overflow: hidden;
}

.table-wrapper {
  height: 100%;
  overflow: auto;
}

.scrollable-content {
  display: inline-block;
  min-width: 100%;
}

.header-wrapper {
  display: flex;
  position: sticky;
  top: 0;
  gap: 20px;
  height: 70px;
  background-color: #0a1a3e;
  z-index: 13;
}

.body-wrapper {
  flex: 1;
}

.row-wrapper {
  display: flex;
  gap: 20px;
  height: 50px;
}

#selected-column-header {
  background-color: #cf082d;
}

.header-wrapper div {
  background-color: #3a4765;
  border-radius: 4px;
}

.row-wrapper div {
  border-bottom: 2px solid #4f586b;
}

.row-wrapper div:first-child {
  font-size: 12px;
  font-weight: 600;
}

.header-wrapper div:first-child,
.row-wrapper div:first-child {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: start;
  background-color: #0a1a3e;
  min-width: 350px;
  text-align: left;
  z-index: 12;
}

.header-wrapper div:first-child {
  font-size: 30px;
  font-weight: bold;
  border-radius: 0px;
}

.header-wrapper div:not(first-child),
.row-wrapper div:not(first-child) {
  display: flex;
  min-width: 250px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subscription-button-wrapper {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0a1a3e;
  z-index: 12;
}

.subscription-button {
  display: flex;
  gap: 20px;
}

.subscription-button div:first-child {
  min-width: 350px;
  height: 60px;
  position: sticky;
  left: 0;
  background-color: #0a1a3e;
}

.subscription-button div:not(first-child) {
  min-width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.subscribe-button {
  background-color: #cf082d;
  border: none;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  height: 90%;
  width: 90%;
  font-size: 16px;
}

.selected-column {
  background-color: rgba(255, 255, 255, 0.1);
}

.table-wrapper::-webkit-scrollbar,
.body-wrapper::-webkit-scrollbar,
.header-wrapper::-webkit-scrollbar,
.feature-wrapper::-webkit-scrollbar,
.mobile-table-wrapper::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

@media screen and (max-width: 375px) {
  .feature-detail {
    height: 60px;
  }
}
